{% extends 'tasks/layout/base.html' %}

{% block main %}

  <h3>
    {{ task }}
    <a href="{% url 'task_edit' pk=task.pk %}">
      <input type="button" value="Editar">
    </a>
    <a href="{% url 'task_delete' pk=task.pk %}">
      <input type="button" value="Eliminar">
    </a>
  </h3>

  <div class="task_description">
    {{ task.description }}
  </div>
  
  <p><b>Fecha Creación:</b> {{ task.creation_date }}</p>
  <p><b>Fecha Límite:</b> {{ task.deadline_date }}</p>
  <p><b>Prioridad:</b> {{ task.priority }}</p>

{% endblock %}
